.clickableItem {
  position: relative;
}

.thumb {
  position: relative;
  overflow: hidden;
  width: 100%;
  object-fit: cover;
}

.thumb img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #2a2a2a;
  border-radius: 3px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
  z-index: 1;
}

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s;
  z-index: 11;
  text-align: center;
}

.content li a {
  background-color: transparent;
  color: white;
  line-height: 40px;
  display: inline-block;
  transition: all 0.5s;
}

.content li h2,
.content li p {
  color: white;
  display: inline-block;
  position: relative;
  padding: 0px 20px;
}

.content li h2::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 1px;
  background: #b8860b;
  transition: width 0.5s ease;
}

.content li h2:hover::after {
  width: 100%;
}

.clickableItem:hover .overlay {
  opacity: 0.9;
  visibility: visible;
}

.clickableItem:hover .content {
  opacity: 1;
  visibility: visible;
}

.clickableItem h2 {
  font-size: 40px;
}

.clickableItem h2 {
  font-size: 40px;
  margin-bottom: 15px;
}

.clickableItem p {
  font-size: 25px;
}
