/* ContactBox.module.css */
.message {
  background-color: #fff;
  border-radius: 5px;
  text-align: center;
  padding: 0px 0px 20px 0px;
}

.logo {
  margin-bottom: 15px;
}

.logoImage {
  width: 70px; /* Điều chỉnh kích thước của logo */
  height: 70px;
  border-radius: 50%;
}

.message i {
  width: 70px;
  height: 70px;
  display: inline-block;
  text-align: center;
  line-height: 70px;
  color: #fff;
  background-color: #b8860b;
  border-radius: 50%;
  font-size: 24px;
  margin-top: -35px;
  margin-left: auto;
  margin-right: auto;
}

.message h4 {
  font-size: 20px;
  font-weight: 700;
  margin-top: 15px;
  margin-bottom: 10px;
}

.message span a {
  font-size: 14px;
  color: #2a2a2a;
  transition: all 0.3s;
}

.message span a:hover {
  color: #b8860b;
}
